@font-face {
    font-family: '00project signature';
    src: url('00projectsignature.eot');
    src: url('00projectsignature.eot?#iefix') format('embedded-opentype'),
        url('00projectsignature.woff2') format('woff2'),
        url('00projectsignature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

